@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    text-rendering: optimizelegibility;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
}

body {
    font-size: 1.6rem;
}

#cart-sidebar {
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0px;
    width: 300px;
    height: 100%;
    background-color: white;
    z-index: 9999;
    transition: all 0.3s ease-in-out;
}

#page{
    position: relative;
    margin-right: 300px;
    transition: all 0.3s ease-in-out;
}

figure {
    max-width: 100%;
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
}

header {
    background-color: #171717;
    position: fixed;
    width: 100%;
    padding-right: 300px;
    z-index: 99;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: auto;

}

header .logo {
    width: 80px;
    margin-left: 20px;
}

ul {
    display: flex;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2.0rem;
    padding: 2.4rem;
    transition: all 250ms linear 0s;
}

header nav ul li a {
    color: white;
}

header nav ul li a img {
    vertical-align: middle;
}

header .carrinho {
    position: relative;
    cursor: pointer;
}

header .icon {
    width: 32px;
}

.pedido-carrinho {
    position: absolute;
    bottom: 10px;
    right: 15px;
    background-color: red;
    padding: 3px 6px;
    border-radius: 20px;
    font-size: 14px;
}

header nav ul li a:hover {
    background: rgba(255, 255, 255, 0.15)
}

h2 {
    color: rgb(75, 75, 75);
    font-size: 3.6rem;
    line-height: 4.6rem;

}

h3 {
    color: rgb(75, 75, 75);
    font-size: 2.8rem;
    line-height: 3.8rem;
    margin: 15px 0px 5px 0px;
}

.button {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: rgb(113, 89, 193);
    margin: 15px 0px 0px;
    padding: 12px 30px;
    text-decoration: none;
    border-radius: 5px;
    transition: all 150ms linear 0s;
}

.button:hover {
    opacity: 0.9;
}

/*///////////////////// 
HERO
/////////////////// */

.container {
    max-width: 100%;
    max-height: 100%;
}

section.hero .capa {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

section.hero .container {
    width: 100%;

    margin: auto;
}

/*///////////////////// 
SUB-HEADER
/////////////////// */
section.sub-header{
    position: static;
}

section.sub-header .container {
    margin: 0 15px;
}

section.sub-header .dados-empresa {
    display: flex;
    flex-flow: column nowrap;

    margin-bottom: 15px;
}

section.sub-header .item {
    display: flex;
    align-items: center;
    box-shadow: rgba(60, 64, 67, 0.096) 0px 1px 2px 0px, rgba(60, 64, 67, 0.116) 0px 2px 6px 2px;
    margin-bottom: 5px;
}


section.sub-header nav ul li a {
    color: #171717;
    font-size: 15px;
    border: 1px solid #171717;
    background-color: #fff;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    transition: all 0.5s ease 0s;
}

section.sub-header nav ul li a:hover {
    background-color: #000;
    color: white;
}

/* Search */

.search {
    margin-top: 20px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: all 0.5s ease;
    border-bottom: 1px solid rgba(87, 87, 87, 0.274);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.search:focus-within {
    border-bottom: 1px solid rgb(2, 138, 172);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.search i {
    width: 32px;
}

.search input[type=text] {
    width: 100%;
    padding: 10px;
    border: none;
    font-size: 18px;
}

/*///////////////////// 
MAIN
/////////////////// */
main {
    margin: 0 15px;
}

/*///////////////////// 
CARDS
/////////////////// */
main .container{
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
}

.cards {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 30%));
    grid-gap: 10px;
    justify-content: space-between;
}


.card {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    transition: all 0.3s ease 0s;
}

.text--medium {
    text-align: center;
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: 400;
    color: #000;
}
.card:hover {
    transform: translateY(-7px);
    box-shadow: rgba(60, 64, 67, 0.137) 0px 1px 2px 0px, rgba(60, 64, 67, 0.253) 0px 2px 6px 2px;
}

.image {
    width: 100%;
}

.image img {
    height: 100%;
    width: 100%;
}

/*///////////////////// 
CARDS
/////////////////// */
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer h2 {
    font-size: 20px;
}

footer nav ul li a {
    text-transform: initial;
    padding: 0;

}

.text {
    width: 350px;
}

footer nav .contato {
    display: flex;
    flex-flow: column;
}

footer nav .contato li a {
    display: flex;
    flex-flow: column;
    color: #000;
}

/*=============== 
MODAL
==================*/
body.modal-open {
    overflow: hidden;
  }

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.459);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}

.active {
    display: flex;
}

.modal {
    overflow-y: scroll;
    padding: 20px;
    position: relative;
    width: 100%;
    max-width: 980px;
    height: 100%;
    max-height: 600px;
    background-color: white;
    border-radius: 11px;

    animation: scale-in-out 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940);

}


@keyframes scale-in-out {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.close-modal {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 20px;
    color: #000;
    text-decoration: none;
    cursor: pointer;

}

.modal-content {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 45%) 10%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.imagens { grid-area: 1 / 1 / 3 / 2; overflow: auto;}
.about { grid-area: 1 / 2 / 3 / 3; padding-left: 10px; overflow: auto;}
.buttons {
    grid-area: 3 / 1 / 4 / 3;   
}


.imagens {
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* para recortar a imagem que ultrapassar os limites do elemento pai */
}

.modal-content .title {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: #17171738;
    text-transform: uppercase;
}

.modal-content legend{
    text-decoration: underline;
}

.modal-content textarea{
    max-width: 100%;
    width: 100%;
}

.modal-content .content{
    display: flex;
    justify-content: space-between;
}

.modal-content input[type=number]{
    font-size: 16px;
    padding:6px;
    width: 90px;
}

.modal-content input[type=number]::-webkit-inner-spin-button{
    all: unset; 
    min-width: 21px;
    min-height: 45px;
    margin: 17px;
    padding: 0px;
    background-image: 
    linear-gradient(to top, transparent 0px, transparent 16px, #fff 16px, #fff 26px, transparent 26px, transparent 35px, #000 35px,#000 36px,transparent 36px, transparent 40px),
    linear-gradient(to right, transparent 0px, transparent 10px, #000 10px, #000 11px, transparent 11px, transparent 21px);
    transform: rotate(90deg) scale(0.8, 0.9);
    cursor:pointer;
}

.modal-content .btn-finalizar{
    background-color: rgb(0, 89, 255);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

/*=============== 
carrinho
==================*/
.carrinho .content{
    padding:0 20px;
}

.carrinho-item{
    display: flex;
    flex-flow: column;
    overflow-y:  visible;
    position: relative;
    height: 100%;
}

.carrinho-item .item{
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
    margin: 5px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.158);
    padding: 10px;
}

.carrinho .about{
    overflow: hidden;
    background-color: #fff;
    padding: 20px 20px;
    width: 100%;
    position: sticky;
    bottom: 0;
    z-index: 1;
    border-top: 1px solid rgba(0, 0, 0, 0.158);

}

.carrinho .btn-finalizar{
    text-align: center;
    width: 100%;
    background-color: rgb(0, 89, 255);
    padding: 10px;
    cursor: pointer;
}



@media only screen and (max-width: 600px) {
    .modal {
      min-height: 100vh;
      width: 100vw;
      margin: 0;
      border-radius: 0;
    }
  }